/* Welcome to Ellen's Website Layout */

@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;;
    background-image: url(bannerback1.jpg);
    background-attachment: fixed;
    margin:0;
    padding:0;
    color:#2a3845;
    margin:0;
    padding:0;
    height:100%;
}

#container {
    min-height:100%;
    position:relative;
}
/* nav */
#header {
    color:white;
    background:black;
    text-align:center;
}
#icon {
    display: block;
    margin: 0;
    padding-top:7px;
    padding-bottom:7px;
}
#icon:hover {
    transform: scale(1.02, 1.02);
    opacity: 0.9;
}
/* banner */
#banner {
    padding-top:10px;
    padding-bottom:40px;
    height:500px;
}
#logo {
    display: block;
    margin: 0 auto;
    padding-top:10px;
    padding-bottom:10px;
}
#logo:hover {
    transform: scale(1.02, 1.02);
    opacity: 1;
}
/* about */
#about {
    padding:50px;
    background:rgba(255, 255, 255, 0.85);
    height:auto;
    text-align:center;
	color: black
}

.about_title{
    font-size: 4em;
    text-align:center;
    padding-top: 0.2em;
    text-transform: uppercase;
    margin: 0;
    font-weight: 500;
}
.about_subtitle{
    font-size: 2em;
    text-align:center;
    padding-top: 0.2em;
    margin: 0;
    font-weight: 400;
}
#picme {
  border-radius: 50%;
}
.fa {
  padding: 20px;
  width: 30px;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: grey;
  color: white;
}

/* background */
#backgrnd {
    padding:10px;
    background:rgba(0, 0, 0, 0.85);
    height:500px;
    color:#D9DAED;
    text-align:center;
}
/* projects */
#projects {
    padding:10px;
    background:rgba(255, 255, 255, 0.85);
    height:500px;
    padding-bottom:60px;  
    text-align:center;
}
/* footer */
#footer {
	height: auto;
    padding: 1.5em 0;
    background:#222222;
    text-align:center;
	color:white;
}
